<h1><%= @profile.student %></h1>

<dl class="dl-horizontal">
  <%= dl_field :name,           @profile.student.name %>  
  <%= dl_field :surname,        @profile.student.surname %>  
  <%= dl_field :employeeNumber, @profile.student.employeeNumber %>
  <%= dl_field :area,           @profile.areas_string %>
  <dt>Mail</dt>
  <dd><%= mail_to @profile.student.email %></dd>
  <%= dl_field :telephone,      @profile.student.telephone %>  
  <dt>Periodo servizio</dt>
  <dd><%= @current_round %></dd>
  <dt>Area</dt>
  <dd><%= @profile.areas_string %></dd>
  <dt>Inizio servizio</dt>
  <dd><%= l(@profile.startdate, format: :as_date) if @profile.startdate %></dd>
  <% if @profile.enddate %>  
    <dt>Fine servizio</dt>
    <dd><%= l(@profile.enddate, format: :as_date) %></dd>
  <% end %>
  <dt>Timbrature</dt>
  <dd>totale <%= @profile.total_presence %> ore approssimate alla mezz'ora</dd>
  <% @punches.each do |punch| %>
    <dd><%= punch %></dd>
  <% end %>
</dl>

<p class="info">
<%= t(:general_notes) %>:
<br/>
<%= @profile.general_notes %>
</p>

<p class="info">
<%= t(:area_notes) %>:
<br/>
<%= @profile.area_notes %>
</p>

<% if ! @profile.done %>  
  <%= link_to('Modifica', edit_profile_path(@profile), class: :button)  %> -
<% end %>
<%= link_to_back profiles_path %>  
