<% @organizations.each do |organization| %>  
  <%= dm_card title: organization.to_s do  %>
    <dl class="dl-horizontal">
      <dt>Segretari:</dt>
      <% organization.secretaries.each do |secretary| %>  
        <dd>
        <%= secretary %>  
        <%= link_to_delete organization_secretary_path(organization, secretary) %>
        </dd>
      <% end %>
      <dd><%= link_to icon('user-plus') + ' nuovo segretario', new_organization_secretary_path(organization) %></dd>

      <dt>Aree:</dt>
      <% organization.areas.each do |area| %>  
        <dd>
        <strong><%= area %> (<%= c = area.active_profiles.count %>) <%= link_to_delete(area_path(area)) if c == 0 %></strong>
        </dd>
        <% area.supervisors.each do |supervisor| %>
          <dd>
          <em>
            <%= supervisor %>
            <%= link_to_delete area_supervisor_path(area, supervisor) %>
          </em>
          </dd>
        <% end %>
        <dd><%= link_to icon('user-plus') + ' nuovo supervisore', new_area_supervisor_path(area) %></dd>
      <% end %>
    </dl>

    <div class="row">
      <div class="col-md-9 offset-md-3">
        <%= link_to icon('cube') + ' Nuova area', new_organization_area_path(organization), class: :button %>  
      </div>
    </div>
  <% end %>
<% end %>
