<%= dm_menu do %>  
  <%= dm_header %>
  <% if current_user %>
    <%= dm_nav do  %>  
      <% if current_organization %>  
        <% if ! current_user.student? && policy(current_organization).list_profiles? %>
          <%= dropdown_menu :round, fwdmicon('bars') + @current_round.to_s do %>  
            <% Round.order('start_date desc').each do |round| %>
              <li><%= link_to fwdmicon('calendar-alt') + " " + round.to_s, main_app.profiles_path(round_id: round) %></li>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <% if current_user.is_cesia? %>
        <li><%= link_to fwdmicon('pencil-alt') + ' modifiche', main_app.rounds_path %></li>
        <li><%= link_to fwdmicon('user') + ' aggiungi studente', new_profile_path %></li>
        <li><%= link_to fwdmicon('building') + ' organizzazioni', main_app.organizations_path %></li>
      <% end %>
    <% end %>
  <% end %>
<% end %>
